[Unit]
Description=Alcali Salt administration interface
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=ENV_PATH={{ directory }}
EnvironmentFile={{ directory }}/.env
WorkingDirectory={{ working_directory }}
User={{ user }}
Group={{ group }}
UMask=0027
ExecStart={{ virtualenv }}/bin/gunicorn --chdir {{ working_directory }} config.wsgi:application --bind {{ bind }}:{{ port }} --workers {{ workers }}{% if threads %} --threads {{ threads }}{% endif %} --timeout {{ timeout }}{% if keyfile %} --keyfile {{ keyfile }}{% endif %}{% if certfile %} --certfile {{ certfile }}{% endif %}
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
NoNewPrivileges=true
SupplementaryGroups=ssl-cert
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
